.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Light grey background, adjust color as needed */
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: gray;
  border-top: 1px solid #e7e7e7; /* Subtle top border */
}

.footer-content p {
  margin: 5px 0; /* Spacing between text lines */
}