html {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  overflow-y: scroll; /* Add vertical scroll bar to prevent layout shifts */
}

.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.logo_horizontal {
  height: 50px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around; /* Adjusted to space out links evenly */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin: 5px 10px; /* Adjusted margin for better spacing */
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover,
nav a:focus {
  color: #4caf50;
  text-decoration: underline;
}

.hero {
  position: relative;
  text-align: left;
  padding-left: 0;
  padding-top: 5px;
  color: white;
  width: 100%;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  opacity: 1;
}

.hero h1,
.hero p {
  position: absolute;
  left: 0;
  padding: 10px;
  align-items: left;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
}

.hero h1 {
  top: 15%;
  width: 37.5%;
  padding-left: 40px;
  font-size: 2.5em;
}

.hero p {
  top: 35%;
  width: 40%;
  left: 5%;
  font-size: 1.5em;
}

.reload-button {
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #4caf50; /* Green background color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
  text-align: center;
  width: fit-content;
}

.reload-button:hover {
  background-color: #45a049; /* Darker green on hover */
  transform: translateY(-2px);
}

.reload-button:active {
  background-color: #388e3c; /* Even darker green on click */
  transform: translateY(0);
}


.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  position: relative;
  z-index: 999;
  background-color: #fff;
  width: 80%;
  max-width: 600px; /* Add max-width for better control */
  margin: 0 auto;
  padding: 10px; /* Add padding for better spacing */
  box-sizing: border-box;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 5px;
}

.search-bar input {
  padding: 10px;
  margin: 5px;
  width: 80%;
  box-sizing: border-box; /* Ensure padding does not affect width */
}

.search-bar button {
  padding: 10px 20px;
  margin: 5px;
  background-color: white;
  color: gray;
  border: 1px solid #ccc; /* Add border for better visibility */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-bar button:hover {
  background-color: lightgray;
  color: black;
  transform: translateY(-2px);
}

.search-bar button:active {
  background-color: gray;
  transform: translateY(0);
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 70px;
  width: 80%;
  background: white;
  border: 1px solid #ddd;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 5px;
  box-sizing: border-box;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover,
.suggestion-item:focus {
  background: #f0f0f0;
}

.results-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.product-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; /* Ensure content stacks vertically */
  justify-content: space-between; /* Distribute space evenly */
}

.product-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.product-info {
  text-align: left; /* Align text to the left */
}

.product-info h2 {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #4caf50;
  margin: 10px 0;
}

.product-category,
.product-details,
.product-manufacturer {
  font-size: 14px;
  color: #555;
  margin: 5px 0; /* Add margin for spacing */
  word-wrap: break-word; /* Ensure long text wraps within the container */
  white-space: pre-line; /* Preserve spaces and line breaks */
}

/* Additional styles for responsiveness */
@media (max-width: 1200px) {
  .results-section {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero h1 {
    font-size: 1.8em;
  }

  .hero p {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .home-header {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .hero p {
    font-size: 0.7em;
  }

  .results-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  nav a {
    margin: 5px 5px; /* Adjust margin for better spacing on mobile */
    font-size: 0.9em; /* Adjust font size for mobile */
  }

  .results-section {
    grid-template-columns: 1fr;
  }

  .product-card {
    padding: 10px;
    width: 100%;
    margin: 10px 0; /* Add margin for better spacing on mobile */
  }

  .product-info h2,
  .product-info .product-price,
  .product-info .product-category,
  .product-info .product-details,
  .product-info .product-manufacturer {
    font-size: 0.9em; /* Adjust font size for better readability */
  }

  .product-image {
    width: 100%; /* Smaller images for mobile */
    margin: 0 auto; /* Center images */
  }

  .hero h1,
  .hero p {
    display: none; /* Hide the catch copies */
  }

  .search-bar {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .search-bar input,
  .search-bar button {
    width: 90%;
    margin: 5px 0;
  }
}
