.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* This ensures all items are vertically centered */
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.logo_horizontal {
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  line-height: 30px; /* Ensure the line height is consistent */
}

.nav-links a:hover {
  color: #4caf50;
}

.welcome-message {
  margin-left: 20px;
  line-height: 30px; /* Ensure the line height is consistent */
}

.cart-icon {
  height: 30px;
  margin-left: 20px;
}

.shipping-icon {
  height: 30px;
  margin-left: 20px;
}

.logout-button {
  background: none;
  border: none;
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer; /* Ensure it's clear the button is clickable */
  line-height: 30px; /* Ensure the line height is consistent */
}

.logout-button:hover {
  color: #4caf50;
}

@media (max-width: 800px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px; /* Adjust margin for better spacing on mobile */
  }

  .cart-icon {
    height: 25px; /* Adjust the size for mobile view */
    margin-left: 10px;
  }

  .shipping-icon {
    height: 25px; /* Adjust the size for mobile view */
    margin-left: 10px;
  }
}
