.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.logo_horizontal {
  height: 50px;
}

.nav-links {
  display: flex;
  margin-left: auto;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav-links a:hover {
  color: #4caf50;
}

@media (max-width: 800px) {
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px; /* Adjust margin for better spacing on mobile */
  }
}
