/* profile.css */

.profile-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-container {
  flex: 1;
  width: 30%;
  max-width: 800px;
  margin: 100px auto 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profile-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-field {
  margin-bottom: 15px;
}

.profile-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e9e9e9;
}


