.supplier-home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.supplier-content {
  flex: 1;
  padding: 40px;
  margin-top: 70px;
  text-align: center;
}

.supplier-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.action-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.image-container {
  height: 200px; /* Adjust this height to ensure consistency */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.action-card h2 {
  margin: 10px 0;
  height: 60px; /* Adjust this value to ensure consistency */
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-card p {
  margin: 10px 0;
  height: 50px; /* Adjust this value to ensure consistency */
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.action-button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.action-button:active {
  background-color: #3e8e41;
  transform: translateY(0);
}
